In [4]:
import yfinance as yf

# Download BTC-USD data
btc_data = yf.download('BTC-USD')

# Display the first few rows of the data
btc_data.head()
# Display the most recent data
btc_data.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-09-25,64302.589844,64804.503906,62945.375000,63143.144531,63143.144531,25078377700
2024-09-26,63138.546875,65790.796875,62669.269531,65181.019531,65181.019531,36873129847
2024-09-27,65180.664062,66480.695312,64852.992188,65790.664062,65790.664062,32058813449
2024-09-28,65792.179688,66255.531250,65458.035156,65887.648438,65887.648438,15243637984
2024-09-29,65888.781250,65956.164062,65454.417969,65895.796875,65895.796875,14265182208